NAME 			ROLL NO. (Section C)
Ateeb Aslam 		FA24-BSE-027
Fareed Ali 		FA24-BSE-036
Muhammad Rehan		FA24-BSE-087
Sheikh Abdul Momin	FA24-BSE-120

These are the commands to run on CMD to get the project going


pip install streamlit scikit-learn numpy nltk xgboost

streamlit run app.py